.check-button {
  background-color: var(--color-002);
  width: 100%;
  /* border: 1px solid red; */
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border-radius: 13px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 150ms;
}
.check-button * {
  color: var(--color-001) !important;
  transition: 150ms;
}
.chk-canvas {
  background-color: var(--color-003);
  border: 2px solid var(--color-004);
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}
.chk-btn-title {
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 2;
}
.chk-btn-icon {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
