/*  cspell:disable */
.azkar-header {
  background-color: var(--color-013);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  backdrop-filter: blur(10px);
  padding-top: 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.azkar-header .ah-title {
  color: var(--color-014);
  font-size: 1.13rem;
  font-family: noto;
  font-weight: 700;
  display: flex;
  justify-content: end;
  align-items: center;
}
.azkar-header .ah-icon {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.azkar-header .ah-icon * {
  color: var(--color-014);
}
.azkar-header .ah-icon * {
  font-size: 1.7rem !important;
}

.progress-bar {
  content: "";
  width: 100%;
  min-height: 3px;
  position: absolute;
  bottom: -1.5px;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.progress-bar .progress-value {
  background-color: var(--color-015);
  width: 0%;
  min-height: 3px;
}
.azkar-cards-wrapper {
  background-color: var(--color-016);
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
  gap: 20px;
}
.azkar-cards-wrapper .zekr-card {
  background-color: var(--color-017) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 !important;
  overflow: hidden;
}
.zekr-card .zc-header {
  background-color: var(--color-018);
  min-height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.zekr-card .zc-header * {
  width: fit-content;
}
.zekr-card .zc-header .zc-number {
  font-family: digit7;
  font-size: 1.44rem;
}
.zekr-card .zc-header .zc-reset-icon {
  background-color: var(--color-019);
  width: fit-content;
  height: auto;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(-70deg);
  transition: 350ms cubic-bezier(0.175, 0.885, 0.32, 2);
  border-radius: 50px;
}
.zekr-card .zc-header .zc-reset-icon.active {
  background-color: var(--color-020);
  transform: rotateZ(-360deg) scale(1.1);
}
.zekr-card .zc-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}
.zekr-card .zc-body .zc-begin {
  color: var(--color-021);
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.19rem;
  font-family: cna;
}
.zekr-card .zc-body .zc-content {
  color: var(--color-022);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.13rem;
  font-family: noto;
}
.zekr-card .zc-body .zc-end {
  color: var(--color-023);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.19rem;
  font-family: cna;
}
.zekr-card .zc-body .zc-info {
  color: var(--color-024);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.19rem;
  font-family: cna;
}
.zekr-card .zc-counter {
  background-color: var(--color-018);
  height: 60px;
  font-family: digit7;
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 85%;
  margin: 20px;
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 2);
}
.zekr-card .zc-counter.active {
  background-color: var(--color-015);
  transform: scaleX(1.1) scaleY(0.9);
}
.zekr-card .zc-counter * {
  font-family: digit7;
  font-size: 1.9rem;
  border-radius: 15px !important;
  border: none !important;
  outline: none !important;
}
.timer-ui {
  color: var(--color-014);
  display: flex;
  height: 0px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-family: digit7;
  font-size: 2.5rem;
  transform: scaleY(0);

  transition: 300ms;
}
.timer-ui.active {
  transform: scaleY(1);
  height: 60px;
  transition: 300ms;
}
