.classic-dark {
  --color-001: #ffffff;
  --color-002: #002950e6;
  --color-003: #0a64a46e;
  --color-004: #008cff;
  --color-005: #002950e6;
  --color-006: #032443e6;
  --color-007: #ffffff2c;
  --color-008: #000000af;
  --color-009: #032443e6;
  --color-010: #002950e6;
  --color-011: #00478ae6;
  --color-012: #ffffff;
  --color-013: #002950e6;
  --color-014: #ffffff;
  --color-015: #0053a0;
  --color-016: #001c37e6;
  --color-017: #002950e6;
  --color-018: #0078e9;
  --color-019: #00000000;
  --color-020: #0000001f;
  --color-021: #00ca79;
  --color-022: #ffffff;
  --color-023: #a2a2a2;
  --color-024: #00e5ff;
  --color-025: #000000;
  --color-026: #001832;
  --color-027: #fff;
}
