.classic-blue {
  --color-001: #0083bb;
  --color-002: #e0e0e0e6;
  --color-003: #1290ff52;
  --color-004: #00638151;
  --color-005: #ececec;
  --color-006: #ebebeb;
  --color-007: #6d6d6d;
  --color-008: #000000af;
  --color-009: #f6f7f8;
  --color-010: #0083bb;
  --color-011: #006691;
  --color-012: #ffffff;
  --color-013: #e8e8e8e6;
  --color-014: #000000;
  --color-015: #2f71c3;
  --color-016: #fafffe;
  --color-017: #dfeee9;
  --color-018: #006dd2;
  --color-019: #00000000;
  --color-020: #0000001f;
  --color-021: #004e9b;
  --color-022: #000000;
  --color-023: #505050;
  --color-024: #92006b;
  --color-025: #000;
  --color-026: #eceff1;
  --color-027: #fff;
}
