.dark-aqua {
  --color-001: #2bd5ff;
  --color-002: #1d1d1de6;
  --color-003: #00f7ff38;
  --color-004: #00e5ff7d;
  --color-005: #181919;
  --color-006: #00000000;
  --color-007: #ffffff15;
  --color-008: #000000af;
  --color-009: #212121;
  --color-010: #181919;
  --color-011: #001524;
  --color-012: #00eeff;
  --color-013: #001618e6;
  --color-014: #00f2ff;
  --color-015: #141414;
  --color-016: #050505;
  --color-017: #000000;
  --color-018: #1d1d1d;
  --color-019: #00000000;
  --color-020: #0000001f;
  --color-021: #00d6fc;
  --color-022: #ffffff;
  --color-023: #777777;
  --color-024: #1e7583;
  --color-025: #00e1ff;
  --color-026: #000000;
  --color-027: #ffffff;
}
