.dark-green {
  --color-001: #00ff7b;
  --color-002: #1d1d1de6;
  --color-003: #00ff1e27;
  --color-004: #0dff004f;
  --color-005: #181918;
  --color-006: #00000000;
  --color-007: #ffffff15;
  --color-008: #000000af;
  --color-009: #212121;
  --color-010: #181918;
  --color-011: #002416;
  --color-012: #00ff73;
  --color-013: #001802e6;
  --color-014: #00ff73;
  --color-015: #141414;
  --color-016: #050505;
  --color-017: #000000;
  --color-018: #1d1d1d;
  --color-019: #00000000;
  --color-020: #0000001f;
  --color-021: #00fc7a;
  --color-022: #ffffff;
  --color-023: #777777;
  --color-024: #00c9ec;
  --color-025: #00ff37;
  --color-026: #000000;
  --color-027: #ffffff;
}
