.default {
  --color-001: #036800;
  --color-002: #d2ead6e6;
  --color-003: #1b61236e;
  --color-004: #03680086;
  --color-005: #dcdcdc;
  --color-006: #d2d8d2;
  --color-007: #4b514b;
  --color-008: #000000af;
  --color-009: #f0f8ff;
  --color-010: #4d9c82;
  --color-011: #356e58;
  --color-012: #ffffff;
  --color-013: #cbf0e4e6;
  --color-014: #094900;
  --color-015: #24614d;
  --color-016: #fafffe;
  --color-017: #dfeee9;
  --color-018: #46997d;
  --color-019: #00000000;
  --color-020: #0000001f;
  --color-021: #fc7100;
  --color-022: #000000;
  --color-023: #505050;
  --color-024: #7a0092;
  --color-025: #000;
  --color-026: #ecf1ec;
  --color-027: #fff;
}
