.light-pink {
  --color-001: #a30b7d;
  --color-002: #e5d2eae6;
  --color-003: #541b616e;
  --color-004: #9c006086;
  --color-005: #dcdcdc;
  --color-006: #d8d2d8;
  --color-007: #514b50;
  --color-008: #000000af;
  --color-009: #fff0fd;
  --color-010: #994d9c;
  --color-011: #6e355d;
  --color-012: #ffffff;
  --color-013: #f0cbe2e6;
  --color-014: #49003f;
  --color-015: #612454;
  --color-016: #fffafe;
  --color-017: #eedfeb;
  --color-018: #99468e;
  --color-019: #00000000;
  --color-020: #0000001f;
  --color-021: #d11e95;
  --color-022: #000000;
  --color-023: #505050;
  --color-024: #003f92;
  --color-025: #000;
  --color-026: #ecf1ec;
  --color-027: #fff;
}
