.light-orange {
  --color-001: #914d00;
  --color-002: #e0cbbce6;
  --color-003: #613d1b6e;
  --color-004: #ab4d0086;
  --color-005: #dcdcdc;
  --color-006: #d8d4d2;
  --color-007: #514d4b;
  --color-008: #000000af;
  --color-009: #fff5f0;
  --color-010: #c56f23;
  --color-011: #a4692b;
  --color-012: #ffffff;
  --color-013: #f0d9cbe6;
  --color-014: #934b18;
  --color-015: #844226;
  --color-016: #fffcfa;
  --color-017: #eee6df;
  --color-018: #c57220;
  --color-019: #00000000;
  --color-020: #0000001f;
  --color-021: #975a00;
  --color-022: #000000;
  --color-023: #505050;
  --color-024: #2c9200;
  --color-025: #000;
  --color-026: #ecf1ec;
  --color-027: #fff;
}
