.light-blue {
  --color-001: #004e68;
  --color-002: #d2e2eae6;
  --color-003: #2580b96e;
  --color-004: #00476886;
  --color-005: #dcdcdc;
  --color-006: #d2d8d2;
  --color-007: #4b514b;
  --color-008: #000000af;
  --color-009: #f0f8ff;
  --color-010: #2f87b9;
  --color-011: #246d98;
  --color-012: #ffffff;
  --color-013: #2f87b9;
  --color-014: #f0faff;
  --color-015: #203b55;
  --color-016: #fafffe;
  --color-017: #dfeee9;
  --color-018: #1f69a1;
  --color-019: #00000000;
  --color-020: #0000001f;
  --color-021: #0083a4;
  --color-022: #000000;
  --color-023: #505050;
  --color-024: #7a0092;
  --color-025: #000;
  --color-026: #ecf1ec;
  --color-027: #fff;
}
