/* cspell:disable */
.zekr-card {
  background-color: var(--color-011) !important;
  border: none !important;
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px !important;
  padding: 10px 20px !important;
  outline: none !important;
  transition: 150ms;
}
.zekr-card .zc-icon {
  color: var(--color-012) !important;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zekr-card .zc-icon * {
  color: var(--color-012) !important;
}
.zekr-card .zc-title {
  color: var(--color-012) !important;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: noto !important;
  font-size: 1.1rem !important;
}
