.drawer-item {
  background-color: var(--color-006) !important;
  border: 1px solid var(--color-007) !important;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: 150ms;
  outline: none !important;
}
.drawer-item:focus {
  border: 1px solid var(--color-007) !important;
  outline: none !important;
}
.drawer-item .di-icon {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawer-item .di-icon * {
  font-size: 1.4rem !important;
  color: var(--color-001) !important;
}
.drawer-item .di-title {
  color: var(--color-001);
  font-size: 1rem;
  font-weight: 500;
  font-family: cna;
  display: flex;
  justify-content: end;
}
